.Header {
    background: var(--color-background);
    min-height: 58px;
    font-size: x-large;
    font-variant: all-small-caps;
}

.Logo {
    padding-top: 5px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-right: 60px;
}

.Header h1 {
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    visibility: hidden;
}

.Logo svg {
    fill: var(--color-text-shadow);
    max-width: 300px;
    width: 100%;
}

@media screen and (min-width: 460px) {
    .Logo {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 13px;
    }
}
