.Checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.Checkmark {
    border: 1px solid var(--color-border);
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-background);
}

.Checkbox:hover input ~ .Checkmark {
    background-color: var(--color-text-shadow);
    color: var(--color-background);
}

.Checkbox input:checked ~ .Checkmark {
    background-color: var(--color-text-shadow);
}

.Checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Checkbox input:checked ~ .Checkmark:after {
    display: block;
}

.Checkbox > .Checkmark:after {
    left: 9px;
    top: 4px;
    width: 3px;
    height: 10px;
    border: solid var(--color-background);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);;
}
