.Content {
    word-wrap: break-word;
    margin-top: -16px;
}

.Content h2 {
    margin:2em;
}

.Content iframe {
    max-width: 300px;
    display: block;
    margin: 40px auto 30px;
}

.ContentTitleImage {
    float: left;
    text-align: center;
    display: block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 3%;
    width: 30%;
    height: 30%;
    margin: 5px 20px 0 5px;
}
