.Progress {
    border-radius: 5px;
    margin-bottom: 2em;
    overflow: hidden;
}

.Progress > div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 10px;
    overflow: hidden;
}
