.TokenForm {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TokenForm > div:not(.Captcha) {
    flex: 1;
    width: 100%;
}

.TokenForm > div {
    margin-bottom: 1em;
}

.TokenForm > .Button {
    margin-top: 1.7em;
}

