.CloseButton {
    color: var(--color-text-shadow);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    right: 10px;
}

.CloseButton:hover,
.CloseButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
