:root {
    --font-standard: 'Open Sans', Helvetica, Arial, sans-serif;
    --color-background: #fff;
    --color-surface: #f1f1f1;
    --color-text-main: rgba(0, 0, 0, 0.9);
    --color-text-shadow: rgba(0, 0, 0, 0.6);
    --color-border: rgba(0, 0, 0, 0.2);
    --color-disabled: rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: var(--font-standard);
}

ol, ul {
    padding-left: 4%;
}

p {
    margin-bottom: 1em;
    line-height: 1.38em;
}

a {
    text-decoration: none;
    color: var(--color-text-shadow);
}

a:hover {
    color: var(--color-text-main);
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.Layout {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-background)
}
