.ReleaseDetail {
    padding: 20px;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    color: var(--color-text-shadow);
    background: var(--color-surface);
}

.ReleaseDetail h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 0 1.2em;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
}

.ReleaseDetailContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ReleaseDetailContainer > div {
    flex: 1 0 0;
    margin-bottom: 2em;
}

.ReleaseDetailData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    max-height: 360px;
    width: 100%;
}

.ReleaseDetailData ul {
    list-style-type: none;
    margin: 5px;
}

.ReleaseDetailDataKey {
    color: var(--color-text-shadow);
    font-weight: bold;
    float: left;
    width: 36px;
}

.ReleaseDetailDataValue {
    margin-left: 90px;
}

.ReleaseDetailDataTracklist {
    clear: left;
    padding-top: 0.4em;
}

.BuyInformation {
    min-width: 200px;
    text-align: center;
}

.BuyInformation a {
    display: inline-block;
    background: #aaaaaa;
    min-width:160px;
    padding: .5em;
    text-align: center;
    font-size: 1.2em;
    border: unset;
    text-decoration: none;
}
