.Button {
    background-color: var(--color-background);
    padding: 12px 20px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid var(--color-border);
    cursor: pointer;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-appearance: none;
}

.Button:hover {
    background-color: var(--color-text-shadow);
    color: var(--color-background);
    border-color: var(--color-background);
    transition: 0.5s ease;
}

.Button:disabled {
    cursor: default;
    background-color: var(--color-disabled);
    border: var(--color-disabled);
    color: var(--color-background);
}
