.TextField input {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    -webkit-appearance: none;
    border-radius: 0;
}
