<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Your Download Code for False Mirror - In the End...</title>
    <!--suppress CssUnusedSymbol, CssUnknownTarget -->
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        #outlook a {
            padding: 0;
        }

        body {
            height: 100% !important;
            margin: 0;
            padding: 1%;
            width: 100% !important;
        }

        * {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #000;
            background: #f1f1f1;
        }

        .CodeContainer {
            text-align: center;
        }

        .Code {
            font-size: 24px;
            display: inline-block;
            text-align: center;
            border: 1px solid #000;
            padding: 5px 10px;
            max-width: 20%;
        }

        .Small {
            margin-top:2em;
            font-size: 12px;
        }

    </style>


</head>
<body>
<p>In order to download the bonus track "In The End..." please navigate to <a href="http://bandcamp.falsemirror.de/yum">http://bandcamp.falsemirror.de/yum</a> and enter the following code.</p>
<div class="CodeContainer">
    <div class="Code">
        <%= code %>
    </div>
</div>
<div class="Small">Entering your e-mail address is not required.</div>

</body>
</html>
