.Social {
    display: flex;
    justify-content: center;
    padding: 0;
}

.Social > li {
    list-style: none;
}

.Social > li > a {
    visibility: collapse;
    font-size: 0;
}

.Social > li > a > svg {
    visibility: visible;
    font-size: 32px;
    display: block;
    color: var(--color-text-shadow) !important;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.Social > li > a > svg:hover {
    color: var(--color-text-main) !important;
}
