.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Links {
  display: none;
  flex-direction: column;
  text-align: center;
}

.Links > nav {
  margin-top: 16px;
}

.NavigationLink {
  text-decoration: none;
  margin: 8px;
  color: var(--color-text-shadow);
}

.NavigationLink:hover {
  color: var(--color-text-main);
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.Active {
  text-decoration: none;
  margin: 8px;
  color: var(--color-text-main);
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.Toggle {
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
  color: var(--color-text-shadow);
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .Navigation {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-top: unset;
    margin-bottom: unset;
  }

  .Links {
    display: flex !important;
    margin: 0 10px 0 0;
    flex-direction: row;
    justify-content: center;
  }

  .Links > nav {
    margin-top: 0 !important;
  }

  .NavigationLink {
    margin-left: 10px;
  }

  .Toggle {
    display: none;
  }
}
