.Main {
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  min-height: 300px;
  min-width: 200px;
  margin: 20px;
  background: var(--color-surface);
  color: var(--color-text-main);
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}
